#achievements{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(24, 8, 8);
    
  }
  
  #achievements{
    display: flex;
    background: url("222.jpg") no-repeat center;
    height: 100vh;
    color: rgb(0S, 0, 0);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
 
  .col-lg-8{
      color: rgb(8, 1, 1);
  }
  .col-lg-4{
      color: rgb(6, 51, 10);
  }
  .achiev-hr{
    border-style: dotted none none;
    border-width: 3px;
    border-color: #8d93ab;
    width:20%;
  }
  .quotation{
      color: #fff;
  }
  #education{
    /* background-color: #22a39f; */
    background-color: #f1d057;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #education{
    display: flex;
    background: url("222.jpg") no-repeat center;
    height: 100vh;
    color: rgb(0S, 0, 0);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  .quotation{
    text-align: center;
    color: aqua;
  }
